Hiring Agent.json
{
  "name": "Hiring Agent",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3136,
        2192
      ],
      "id": "bc6c2cfe-4241-4ee2-b73a-8e1e21730686",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI resume classification engine. Your sole task is to analyze the provided resume text and identify the MOST appropriate role category.\n\n---\n\n**Available Role Categories (choose exactly ONE):**\n1. developer\n2. operations\n3. sales\n4. data_analyst\n5. other\n\n---\n\n**Classification Criteria:**\n\n- **developer**: Resume mentions software development, programming languages (Python, JavaScript, Java, etc.), frameworks (React, Django, etc.), APIs, databases (SQL, MongoDB, etc.), cloud platforms (AWS, Azure, GCP), DevOps, CI/CD, AI/ML, LLMs, software engineering, or building/maintaining applications.\n\n- **customer support or operations**: Resume focuses on customer service, support tickets, helpdesk, CRM tools (Zendesk, Salesforce Service Cloud), operations management, process optimization, service delivery, customer success, or escalation handling.\n\n- **sales or business_development**: Resume highlights sales targets, lead generation, revenue growth, B2B/B2C sales, account management, partnerships, client acquisition, negotiations, sales CRMs (HubSpot, Salesforce Sales Cloud), or business development.\n\n- **data_analyst**: Resume emphasizes data analysis, SQL, Excel, Python/R (for analytics), data visualization, dashboards, BI tools (Tableau, Power BI, Looker), reporting, metrics, statistical analysis, or deriving data-driven insights.\n\n- **other**: None of the above categories clearly fit based on the resume content.\n\n---\n\n**Classification Rules:**\n- Be **strict and evidence-based** вЂ” only classify based on explicitly mentioned skills, tools, or experiences\n- Do **NOT** guess or infer skills that are not clearly present\n- Do **NOT** include explanations, commentary, or text outside the JSON response\n- If multiple categories apply, choose the **most dominant** one based on experience depth and recency\n- Use the \"other\" category only when there is genuinely no strong fit\n\n---\n\n**Output Format:**\nReturn **ONLY** valid JSON in this exact structure:\n```json\n{\n  \"detected_role\": \"\",\n  \"confidence_score\": 0,\n}\n```\n\n**Field Definitions:**\n- `detected_role`: One of the 5 categories listed above (lowercase, underscore-separated)\n- `confidence_score`: Integer from 0 to 100 indicating classification certainty\n- `reason`: Brief, evidence-based justification referencing specific skills, tools, or experiences from the resume\n\n---\n\n**Resume Text to Analyze:**\n{{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2928,
        2192
      ],
      "id": "e5aa7179-d005-4d71-95de-ae856ec5c90b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the AI text output\nconst text =\n  items[0].json.output[0].content[0].text;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json: parsedJson };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        2192
      ],
      "id": "df49b169-ec04-495e-a265-08a796b66359",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.detected_role }}",
                    "rightValue": "developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d923a518-2f02-4088-b34d-2920c281d09d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c3cf58f-442b-4ded-b588-c51af1ec1eb4",
                    "leftValue": "={{ $json.detected_role }}",
                    "rightValue": "operations",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f6eb2a0b-fa26-482e-8be5-61ea9c9cc6c8",
                    "leftValue": "={{ $json.detected_role }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a121cd2a-61b0-40a1-9c39-29b5b862a023",
                    "leftValue": "={{ $json.detected_role }}",
                    "rightValue": "data_analyst",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "62160626-0146-4543-a356-c6a50e7e3e34",
                    "leftValue": "={{ $json.detected_role }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2192,
        2144
      ],
      "id": "2468d460-b199-4309-a7e1-79dac2170aba",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text: {{ $('Extract from File').item.json.text }}\nParsed Resume Data: {{ $('Code in Data Extractor of Resume').item.json.resumeParsed }}\nGithub Details: {{ $json.parsedGithub }}\n",
        "options": {
          "systemMessage": "You are an Expert Resume Evaluation Agent that provides TWO independent scoring perspectives:\n\n1) ATS Score (0вЂ“100): Universal ATS compatibility and resume quality\n2) Hiring Score (0вЂ“100): Custom evaluation strictly based on the provided Job Requirements\n\nYour goal is to evaluate candidates objectively while PRIORITIZING REQUIREMENT ALIGNMENT over artifact completeness.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINPUTS YOU WILL RECEIVE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n1. Resume Text (raw extracted text)\n2. Parsed Resume Data (JSON: skills, experience, education)\n3. GitHub Profile Data (if provided)\n4. Job Requirements Document (supreme authority)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 1: ATS SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nApply UNIVERSAL ATS standards only:\n- Clean formatting & parsability\n- Clear section headings\n- Keyword structure (not job-specific)\n- Consistent timeline\n- No graphics or tables blocking parsing\n\nвќ— DO NOT consider job requirements or GitHub here.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 2: HIRING SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nEvaluate ONLY against the Job Requirements document.\n\nGLOBAL RULE:\nIf resume + GitHub together demonstrate strong alignment with job requirements, prioritize SKILL RELEVANCE and EXPERIENCE IMPACT over GitHub completeness or tooling polish.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n1) MUST-HAVE REQUIREMENTS (30 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Critical Technical Skills (20 pts)\n- Extract ALL must-have skills from the JD\n- Skill present in resume OR GitHub в†’ full credit\n- Skill present in BOTH в†’ +20% evidence bonus\n- Strong project usage > keyword mention\n- Equivalent/related technologies в†’ partial credit (70вЂ“80%)\n- Skill missing в†’ 0 pts\n\nB. Minimum Experience (5 pts)\n- Meets or exceeds requirement в†’ 5 pts\n- 1 year below в†’ 3 pts\n- 2+ years below в†’ 0 pts\n\nC. Education (5 pts)\n- Exact degree в†’ 5 pts\n- Related degree в†’ 3 pts\n- Compensating professional experience (3+ years) в†’ up to 5 pts\n- Below requirement в†’ 0 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n2) PREFERRED / NICE-TO-HAVE (20 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n- Preferred skills: 12 pts\n- Preferred domains/experience: 8 pts\n- Award proportionally\n- Normalize if JD lists many preferred items\n- Domain relevance > number of tools\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n3) ROLE-SPECIFIC COMPETENCIES (25 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Technical Depth (15 pts)\n- Architecture/design decisions в†’ 5 pts\n- Problem-solving examples в†’ 5 pts\n- Scale/complexity indicators в†’ 5 pts\n\nRule:\nIf GitHub is weak but resume shows ownership of production systems, migrations, optimizations, or business impact в†’ award full points.\n\nB. Relevant Project Experience (10 pts)\n- Similar domain/projects в†’ 7 pts\n- Required tech stack в†’ 3 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n4) GITHUB / PORTFOLIO ALIGNMENT (20 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nGitHub is a VALIDATOR, not a gatekeeper.\n\nIf GitHub is REQUIRED:\n- Profile exists в†’ 6 pts\n- Activity within last 12 months в†’ 4 pts\n- Projects using required or equivalent tech в†’ 6 pts\n- Code quality (readability OR structure OR docs) в†’ 4 pts\n\nIf GitHub is NOT required:\n- Strong GitHub в†’ bonus\n- Weak or missing GitHub в†’ NO penalty\n\nCross-Validation Rule:\nIf resume claims experience and GitHub does NOT contradict it, assume validity.\nPenalize only if GitHub clearly contradicts resume claims.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n5) CULTURAL & TEAM FIT (5 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n- Collaboration evidence в†’ 3 pts\n- Learning & growth indicators в†’ 2 pts\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nHIRING DECISION RULES\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n85вЂ“100 в†’ MUST_INTERVIEW\n70вЂ“84  в†’ RECOMMEND_INTERVIEW\n55вЂ“69  в†’ CONDITIONAL\n40вЂ“54  в†’ HOLD\n<40    в†’ REJECT\n\nвќ— SAFETY RULE:\nIf ALL must-have requirements are met and role alignment is strong, Hiring Score MUST NOT be below 65.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nOUTPUT FORMAT (STRICT JSON ONLY)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n{\n  \"ats_score\": 0,\n  \"hiring_score\": 0,\n  \"hiring_recommendation\": \"MUST_INTERVIEW|RECOMMEND_INTERVIEW|CONDITIONAL|HOLD|REJECT\",\n  \"key_reason\": \"Max 30 words explaining the decision\",\n  \"critical_gaps\": []\n}\n\nRules:\n- Evidence-based scoring only\n- Requirements document is supreme authority\n- Do NOT add explanations outside JSON\n- Do NOT penalize candidates for missing GitHub unless explicitly required\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -512,
        1392
      ],
      "id": "e8edafde-519f-4d8e-8e6c-e8b7c961eedd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -528,
        1584
      ],
      "id": "f0fc5155-5dd1-4a77-989c-ab98e6daee21",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1gkgpKHbKAP82Hs1NMpaxVynncwY8C8lq0Kz1SIP_vAg/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -352,
        1600
      ],
      "id": "71bfa8e5-ddce-4722-9d76-8c443bb37786",
      "name": "Get a document in Google Docs3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3RrGPc4ghLNaad8v",
          "name": "The Batraanumerology Docs"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a GitHub Profile Analyzer for recruiting. When given a GitHub username or URL along with user data, analyze and return a JSON object.\n\n## Input: https://{{ $json.resumeParsed.profiles.github }}\nor user name of the same should be taken to search.\n\n## Extract & Report:\n**Repository Stats:**\n- Total repositories (public+private+fork)\n- Primary languages (with percentages)\n**Tech Stack:**\n- Languages and technologies used\n**Contribution Metrics:**\n- Total commits\n- Last 3 months commits\n- Activity patterns\n## Output Format:\nReturn ONLY a valid JSON object in this exact structure:\n\n{\n    \"name\": \"string\",\n    \"total_repos\": number,  \n  \"tech_stack\": {\n    \"language\": [\"string\"],\n    \"technologies\": [\"string\"]\n  },\n  \"activity_metrics\": {\n    \"total_commits\": number,\n    \"last_3_months\": number,\n    \"activity_level\": \"high|medium|low\"\n  },\n  \"hiring_insights\": {\n    \"strengths\": [\"string\"],\n    \"red_flags\": [\"string\"],\n    \"recommendation_score\": number\n  }\n}\n\n**Instructions:**\n1. Include all user data provided in the \"user_data\" section\n2. Fetch GitHub profile information and populate remaining sections\n3. Ensure all fields are populated with actual data or null if unavailable\n4. Return ONLY the JSON object, no additional text\n\n**Tone:** Professional, objective, data-driven. Present facts without bias. Note that GitHub activity is one factor among many for hiring decisions."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1152,
        1392
      ],
      "id": "7bc43cc6-b4dc-43f9-b32f-0262dd0179e6",
      "name": "Github analyser Agent",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI resume parser specialized in extracting professional profiles and technical skills from resume text.\n\n\n\n---\n\n**Your Tasks:**\n\n1. **Extract all professional profile links** mentioned in the resume\n\n2. **Extract all technical skills** in an organized, categorized format\n\n---\n\n**Extraction Rules:**\n**For Name:**\nCandidate Name\n\n**For Profile Links:**\n\n- Extract ONLY actual URLs or clearly identifiable profile usernames\n\n- Do NOT guess or generate links that aren't explicitly present\n\n- If a platform is mentioned without a link, mark it as null\n\n- Normalize URLs (remove tracking parameters, ensure consistent format)\n\n**For Technical Skills:**\n\n- Extract ONLY technical skills explicitly mentioned in the resume\n\n- Categorize skills logically based on their type\n\n- Do NOT infer or add skills not present in the text\n\n- Include tools, languages, frameworks, platforms, and technologies\n\n- Exclude soft skills, business skills, or non-technical competencies\n\n**For Education:**\n- Track the education details and give back only UG and PG detials not the 10th or 12 th detaisl.\n\n**For Experiece:**\n- give the total experience in years.\n---\n\n**Output Format:**\n\nReturn **ONLY** valid JSON in this exact structure:\n\n```json\n{\n  \"name\":null,\n  \"profiles\": {\n    \"github\": null,\n    \"linkedin\": null,\n    \"portfolio\": null,\n    \"leetcode\": null,\n    \"other\": []\n  },\n  \"technical_skills\": {\n    \"programming_languages\": [],\n    \"frameworks_libraries\": [],\n    \"databases\": [],\n    \"other_tools\": []\n  },\n  \"experience_years\": null,\n  \"education\": {\n    \"undergraduate\": null,\n    \"postgraduate\": null\n  }\n}\n\n```\n\n---\n\n**Important Guidelines:**\n\nвњ… **DO:**\n\n- Extract exact URLs as they appear\n\n- Normalize LinkedIn URLs to standard format (linkedin.com/in/username)\n\n- Group similar technologies together logically\n\n- Use consistent naming (e.g., \"JavaScript\" not \"JS\" or \"javascript\")\n\nвќЊ **DO NOT:**\n\n- Generate or assume profile links not in the resume\n\n- Include soft skills (communication, leadership, etc.)\n\n- Include business tools (MS Office, Google Workspace) unless explicitly technical\n\n- Duplicate skills across categories\n\n- Add explanations or commentary outside JSON\n\n---\n\n**Resume Text to Analyze:**\n\n{{ $('Extract from File').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1792,
        1392
      ],
      "id": "6c2e67fb-988c-49c9-9579-bb44011d57f0",
      "name": "Profile Data Extractor fro Resume",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the AI text output\nconst text =\n  items[0].json.output[0].content[0].text;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json: {resumeParsed: parsedJson} };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1392
      ],
      "id": "5d77492a-684f-48ab-a4a4-25bc4bd79a1c",
      "name": "Code in Data Extractor of Resume"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the AI text output\nconst text =items[0].json.output[0].content[0].text\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json: {parsedGithub: parsedJson }};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        1392
      ],
      "id": "48b80952-8a02-4c53-a5fc-d121a183cc74",
      "name": "Code for Github Data Exrtraction"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.output;\n\n\nconst cleaned = items\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json:  parsedJson };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        1392
      ],
      "id": "ab709ec0-d5d0-402e-a992-2bd7b8992597",
      "name": "Code for Github Data Exrtraction1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI resume parser specialized in extracting structured data from resumes for operations and customer support roles.\n\nTASKS:\n1. Extract candidate name\n2. Extract professional profile links and contact details\n3. Extract relevant skills for operations/customer support roles\n4. Extract work experience\n5. Extract education (UG and PG only)\n\nRULES:\n\nNAME:\n- Extract the full name exactly as written in the resume\n\nPROFILES & CONTACT:\n- Extract only explicitly mentioned information\n- Allowed: Email, phone number, LinkedIn, other professional profile links\n- Do not guess or generate links\n- If a platform is mentioned without a link, return null\n- Normalize URLs (remove tracking parameters)\n\nSKILLS:\n- Extract only skills explicitly mentioned in the resume\n- Focus on operations and customer support relevance\n- Include:\n  - CRM tools (Salesforce, Zendesk, Freshdesk, etc.)\n  - Ticketing/helpdesk systems\n  - Communication tools (Slack, MS Teams, Zoom, etc.)\n  - Operational tools or platforms\n  - Languages spoken\n  - Soft skills (communication, problem-solving, multitasking, etc.)\n- Do not infer skills\n- Do not duplicate skills\n\nEDUCATION:\n- Extract undergraduate (UG) and postgraduate (PG) details only\n- Ignore 10th / 12th or school-level education\n\nWORK EXPERIENCE:\n- Extract only relevant experience in operations or customer support\n- For each role, extract:\n  - Company name\n  - Job title\n  - Duration\n  - Key responsibilities\n- Calculate total years of experience\n\nOUTPUT RULES:\n- Return ONLY valid JSON\n- Do not add explanations or extra text\n- Follow the output structure exactly\n\nOUTPUT FORMAT:\n{\n  \"name\": null,\n  \"profiles\": {\n    \"linkedin\": null,\n    \"email\": null,\n    \"phone\": null,\n    \"other\": []\n  },\n  \"skills\": {\n    \"softSkills\": [],\n    \"otherSkills\": []\n  },\n  \"experience_years\": null,\n  \"education\": {\n    \"undergraduate\": null,\n    \"postgraduate\": null\n  },\n  \"work_experience\": [\n    {\n      \"company\": null,\n      \"role\": null,\n      \"duration\": null,\n      \"key_responsibilities\": []\n    }\n  ]\n}\n\nRESUME TEXT:\n{{ $('Extract from File').item.json.text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1744,
        1744
      ],
      "id": "e8e0663d-5b74-41db-bc23-d8cdeccf05b6",
      "name": "Ops Profile Modal For extraction ",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an AI resume parser specialized in extracting structured data from resumes for sales and business development roles.\n\nTASKS:\n1. Extract candidate name\n2. Extract professional profile links and contact details\n3. Extract relevant skills for sales/business development roles\n4. Extract work experience with sales achievements\n5. Extract education (UG and PG only)\n\nRULES:\n\nNAME:\n- Extract the full name exactly as written in the resume\n\nPROFILES & CONTACT:\n- Extract only explicitly mentioned information\n- Allowed: Email, phone number, LinkedIn, other professional profile links\n- Do not guess or generate links\n- If a platform is mentioned without a link, return null\n- Normalize URLs (remove tracking parameters)\n\nSKILLS:\n- Extract only skills explicitly mentioned in the resume\n- Focus on sales and business development relevance\n- Include:\n  - Languages spoken\n  - Soft skills\n- Do not infer skills\n- Do not duplicate skills\n\nSALES ACHIEVEMENTS:\n- Extract quantifiable metrics wherever mentioned\n- Extract exact numbers and percentages as written\n\nEDUCATION:\n- Extract undergraduate (UG) and postgraduate (PG) details only\n- Ignore 10th / 12th or school-level education\n\nWORK EXPERIENCE:\n- Extract ALL sales, business development, or account management experience\n- For each role, extract:\n  - Company name\n  - Job title\n  - Duration\n  - Key responsibilities\n  - Achievements (with metrics if available)\n- Calculate total years of sales experience\n- Identify sales type (B2B, B2C, Enterprise, SMB) if mentioned\n\nOUTPUT RULES:\n- Return ONLY valid JSON\n- Do not add explanations or extra text\n- Follow the output structure exactly\n- Preserve exact numbers and percentages from resume\n\nOUTPUT FORMAT:\n{\n  \"name\": null,\n  \"profiles\": {\n    \"linkedin\": null,\n    \"email\": null,\n    \"phone\": null,\n    \"other\": []\n  },\n  \"skills\": [],\n  \"sales_achievements\": [],\n  \"experience_years\": null,\n  \"education\": {\n    \"undergraduate\": null,\n    \"postgraduate\": null\n  },\n  \"work_experience\": [\n    {\n      \"company\": null,\n      \"role\": null,\n      \"duration\": null,\n      \"sales_type\": \"B2B|B2C|ENTERPRISE|SMB|MIXED|UNKNOWN\",\n      \"key_responsibilities\": [],\n      \"achievements\": []\n    }\n  ]\n}\n\nRESUME TEXT:\n{{ $('Extract from File').item.json.text }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1728,
        2192
      ],
      "id": "3eb9b520-8f66-4369-8852-dbff2f0845d9",
      "name": "Sales Profile Modal For extraction",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the AI text output\nconst text =\n  items[0].json.output[0].content[0].text;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json: {resumeParsed: parsedJson} };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        1744
      ],
      "id": "34d55112-9200-40b5-b765-ae699f01bfb5",
      "name": "Code in Data Extractor of Resume Ops"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1968
      ],
      "id": "d8add384-db2e-4bfe-b14d-597ffc033608",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/13iD8esFeDIUJ9QvZL3K9D47FhMDNFcRTrfHUEK_7BLk/edit"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -960,
        1952
      ],
      "id": "88dfdb2c-4955-4e25-bcfc-ddfd934efe86",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3RrGPc4ghLNaad8v",
          "name": "The Batraanumerology Docs"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text: {{ $('Extract from File').item.json.text }}\nParsed Resume Data: {{ $json.resumeParsed }}\n",
        "options": {
          "systemMessage": "You are an Expert Resume Evaluation Agent for Customer Support & Operations roles that provides TWO independent scoring perspectives:\n\n1) ATS Score (0вЂ“100): Universal ATS compatibility and resume quality\n2) Hiring Score (0вЂ“100): Custom evaluation strictly based on the provided Job Requirements\n\nYour goal is to evaluate candidates objectively while PRIORITIZING RELEVANT EXPERIENCE, JOB STABILITY, and REQUIREMENT ALIGNMENT.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINPUTS YOU WILL RECEIVE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n1. Resume Text (raw extracted text)\n2. Parsed Resume Data (JSON: skills, experience, education)\n3. Job Requirements Document (supreme authority)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 1: ATS SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nApply UNIVERSAL ATS standards only:\n- Clean formatting & parsability\n- Clear section headings\n- Keyword structure (not job-specific)\n- Consistent timeline\n- No graphics or tables blocking parsing\n- Contact information clarity\n\nвќ— DO NOT consider job requirements here.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 2: HIRING SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nEvaluate ONLY against the Job Requirements document.\n\nGLOBAL RULE:\nEXPERIENCE RELEVANCE and JOB STABILITY are the PRIMARY factors for operations/support roles. Skills and tools are SECONDARY validators.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n1) RELEVANT EXPERIENCE (40 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Role-Specific Experience (25 pts)\n- Extract required experience type from JD (customer support, operations, etc.)\n- Direct experience in EXACT role в†’ 25 pts\n- Direct experience in SIMILAR role (e.g., customer service for support) в†’ 20 pts\n- Related experience (e.g., sales for support role) в†’ 10 pts\n- Unrelated experience в†’ 0 pts\n\nCalculation:\n- If JD requires \"2 years customer support\":\n  * 2+ years in customer support в†’ 25 pts\n  * 2+ years in customer service/help desk в†’ 20 pts\n  * 2+ years in sales/operations в†’ 10 pts\n  * Less than required years в†’ proportional reduction\n\nB. Total Experience (10 pts)\n- Meets or exceeds total experience requirement в†’ 10 pts\n- 1 year below в†’ 7 pts\n- 2 years below в†’ 4 pts\n- 3+ years below в†’ 0 pts\n\nC. Industry/Domain Match (5 pts)\n- Same industry as JD в†’ 5 pts\n- Related industry в†’ 3 pts\n- Different industry в†’ 0 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n2) JOB STABILITY (20 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nCalculate average tenure per job:\n- Average tenure в‰Ґ 2 years в†’ 20 pts\n- Average tenure 1.5вЂ“2 years в†’ 15 pts\n- Average tenure 1вЂ“1.5 years в†’ 10 pts\n- Average tenure 6 monthsвЂ“1 year в†’ 5 pts\n- Average tenure < 6 months в†’ 0 pts\n\nTenure Bonus:\n- If candidate has 3+ years at one company в†’ +5 bonus pts (max 25 total)\n\nRed Flags (deductions):\n- 3+ job changes in last 2 years в†’ -10 pts\n- Employment gaps > 6 months (unexplained) в†’ -5 pts per gap\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n3) MUST-HAVE REQUIREMENTS (15 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Core Competencies (10 pts)\nExtract required competencies from JD:\n- Customer handling/communication в†’ 3 pts\n- Problem-solving/troubleshooting в†’ 3 pts\n- Process adherence/documentation в†’ 2 pts\n- Multitasking/time management в†’ 2 pts\n\nAward based on evidence in resume (achievements, responsibilities, metrics)\n\nB. Education (5 pts)\n- Meets requirement в†’ 5 pts\n- Related degree в†’ 3 pts\n- Compensating experience (5+ years) в†’ up to 5 pts\n- Below requirement в†’ 0 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n4) TOOLS & TECHNICAL SKILLS (15 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Required Tools/Systems (10 pts)\n- CRM tools (Salesforce, Zendesk, Freshdesk, etc.) в†’ 4 pts\n- Ticketing systems в†’ 3 pts\n- Communication platforms (Zoom, Teams, Slack) в†’ 2 pts\n- Other required tools в†’ 1 pt\n\nAward proportionally based on number of required tools candidate has used.\n\nB. Nice-to-Have Tools (5 pts)\n- Preferred/additional tools from JD в†’ award proportionally\n- Advanced tool proficiency (certifications, power user) в†’ bonus points\n\nRule:\nTool experience validates capability but does NOT replace relevant work experience.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n5) PERFORMANCE INDICATORS (10 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Quantifiable Achievements (7 pts)\n- Customer satisfaction scores/CSAT improvements в†’ 3 pts\n- Ticket resolution metrics/SLA achievements в†’ 2 pts\n- Process improvements/efficiency gains в†’ 2 pts\n\nB. Awards & Recognition (3 pts)\n- Employee of the month/quarter в†’ 2 pts\n- Customer service awards в†’ 3 pts\n- Performance-based promotions в†’ 2 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n6) SOFT SKILLS & CULTURAL FIT (bonus: up to 5 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n- Language proficiency (if required) в†’ 2 pts\n- Team collaboration evidence в†’ 2 pts\n- Learning & adaptability indicators в†’ 1 pt\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nHIRING DECISION RULES\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n91вЂ“100 в†’ MUST_INTERVIEW\n70вЂ“90  в†’ RECOMMEND_INTERVIEW\n55вЂ“69  в†’ CONDITIONAL_INTERVIEW\n40вЂ“54  в†’ HOLD\n<40    в†’ REJECT\n\nвќ— SAFETY RULES:\n1. If relevant experience requirement is met AND job stability is strong (avg tenure в‰Ґ 1.5 years), Hiring Score MUST NOT be below 60.\n2. Frequent job hopping (avg tenure < 1 year) caps maximum score at 70, regardless of other factors.\n3. Missing required tools reduces score but does NOT disqualify if experience is strong.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nOUTPUT FORMAT (STRICT JSON ONLY)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n{\n  \"ats_score\": 0,\n  \"hiring_score\": 0,\n  \"hiring_recommendation\": \"MUST_INTERVIEW|RECOMMEND_INTERVIEW|CONDITIONAL|HOLD|REJECT\",\n  \"key_reason\": \"Max 30 words explaining the decision\",\n  \"stability_metrics\": {\n    \"average_tenure_years\": 0,\n    \"total_jobs\": 0,\n    \"longest_tenure_years\": 0,\n    \"stability_flag\": \"STABLE|MODERATE|UNSTABLE\"\n  },\n  \"experience_breakdown\": {\n    \"total_years\": 0,\n    \"relevant_role_years\": 0,\n    },\n  \"tools_identified\": [],\n}\n\nRules:\n- Evidence-based scoring only\n- Requirements document is supreme authority\n- Prioritize EXPERIENCE and STABILITY over tools\n- Do NOT add explanations outside JSON\n- Calculate stability metrics from work history timeline\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1120,
        1744
      ],
      "id": "73899a77-d97e-4718-8290-51460c3726e7",
      "name": "AI Agent For Ops"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.output;\n\n\nconst cleaned = items\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json:  parsedJson };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        1744
      ],
      "id": "fb3d4f0a-33f0-4d60-a497-faaa3507bd08",
      "name": "Code for Github Data Exrtraction2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0",
          "mode": "list",
          "cachedResultName": "Hiring Agent Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 579626118,
          "mode": "list",
          "cachedResultName": "Operations AI Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit#gid=579626118"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name ": "={{ $('Code in Data Extractor of Resume Ops').item.json.resumeParsed.name }}",
            "Role": "={{ $('Code in JavaScript').item.json.detected_role }}",
            "Resume ATS Score": "={{ $json.ats_score }}",
            "Agent Screening Score": "={{ $json.hiring_score }}",
            "Confidence Score": "={{ $('Code in JavaScript').item.json.confidence_score }}",
            "Hiring Recomandation": "={{ $json.hiring_recommendation }}",
            "Key Reason ": "={{ $json.key_reason }}",
            "Resume/ Profile link": "={{ $('Ops Form Trigger').item.json['Upload Resume (PDF format only)'] }}",
            "Experience": "={{ $json.experience_breakdown.total_years }}",
            "Education": "=UnderGraduation: {{ JSON.stringify($('Code in Data Extractor of Resume Ops').item.json.resumeParsed.education.undergraduate) }}\nPostGraduation: {{ JSON.stringify($('Code in Data Extractor of Resume Ops').item.json.resumeParsed.education.postgraduate) }}\n",
            "Skills": "={{ ($('Code in Data Extractor of Resume Ops').item.json.resumeParsed.skills.softSkills || []).join(', ') }}\n",
            "Stability": "=Average Tenure: {{ $json.stability_metrics.average_tenure_years }},\nTotal Jobs: {{ $json.stability_metrics.total_jobs }}\n",
            "Email ID": "={{ $('Ops Form Trigger').item.json['Email address'] }}"
          },
          "matchingColumns": [
            "Sr No."
          ],
          "schema": [
            {
              "id": "Sr No.",
              "displayName": "Sr No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Name ",
              "displayName": "Candidate Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume ATS Score",
              "displayName": "Resume ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Screening Score",
              "displayName": "Agent Screening Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence Score",
              "displayName": "Confidence Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring Recomandation",
              "displayName": "Hiring Recomandation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Reason ",
              "displayName": "Key Reason ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume/ Profile link",
              "displayName": "Resume/ Profile link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stability",
              "displayName": "Stability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Most Stable Tenure",
              "displayName": "Most Stable Tenure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        1744
      ],
      "id": "728b88bd-d5cd-420c-9c3f-f76045d6abbb",
      "name": "Append row in sheet For Ops",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QBCsxB2qiIpxsde",
          "name": "TheBatraaNumerology Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1lif1NLOlFGsdfymMRdSi5d6QsigBz5nB6fF0D50OC1o/edit"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -1040,
        2400
      ],
      "id": "f02dbda6-29b2-4998-891c-4f00863b25d7",
      "name": "Get a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3RrGPc4ghLNaad8v",
          "name": "The Batraanumerology Docs"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text: {{ $('Extract from File').item.json.text }}\nParsed Resume Data: {{ $json.resumeParsed }}\n\nCheck the JD in given doc first.",
        "options": {
          "systemMessage": "You are an Expert Resume Evaluation Agent for Customer Support & Operations roles that provides TWO independent scoring perspectives:\n\n1) ATS Score (0вЂ“100): Universal ATS compatibility and resume quality\n2) Hiring Score (0вЂ“100): Custom evaluation strictly based on the provided Job Requirements\n\nYour goal is to evaluate candidates objectively while PRIORITIZING RELEVANT EXPERIENCE, JOB STABILITY, and REQUIREMENT ALIGNMENT.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINPUTS YOU WILL RECEIVE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n1. Resume Text (raw extracted text)\n2. Parsed Resume Data (JSON: skills, experience, education)\n3. Job Requirements Document (supreme authority)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 1: ATS SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nApply UNIVERSAL ATS standards only:\n- Clean formatting & parsability\n- Clear section headings\n- Keyword structure (not job-specific)\n- Consistent timeline\n- No graphics or tables blocking parsing\n- Contact information clarity\n\nвќ— DO NOT consider job requirements here.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nPART 2: HIRING SCORE (0вЂ“100)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nEvaluate ONLY against the Job Requirements document.\n\nGLOBAL RULE:\nEXPERIENCE RELEVANCE and JOB STABILITY are the PRIMARY factors for operations/support roles. Skills and tools are SECONDARY validators.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n1) RELEVANT EXPERIENCE (40 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Role-Specific Experience (25 pts)\n- Extract required experience type from JD (customer support, operations, etc.)\n- Direct experience in EXACT role в†’ 25 pts\n- Direct experience in SIMILAR role (e.g., customer service for support) в†’ 20 pts\n- Related experience (e.g., sales for support role) в†’ 10 pts\n- Unrelated experience в†’ 0 pts\n\nCalculation:\n- If JD requires \"2 years customer support\":\n  * 2+ years in customer support в†’ 25 pts\n  * 2+ years in customer service/help desk в†’ 20 pts\n  * 2+ years in sales/operations в†’ 10 pts\n  * Less than required years в†’ proportional reduction\n\nB. Total Experience (10 pts)\n- Meets or exceeds total experience requirement в†’ 10 pts\n- 1 year below в†’ 7 pts\n- 2 years below в†’ 4 pts\n- 3+ years below в†’ 0 pts\n\nC. Industry/Domain Match (5 pts)\n- Same industry as JD в†’ 5 pts\n- Related industry в†’ 3 pts\n- Different industry в†’ 0 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n2) JOB STABILITY (20 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nCalculate average tenure per job:\n- Average tenure в‰Ґ 2 years в†’ 20 pts\n- Average tenure 1.5вЂ“2 years в†’ 15 pts\n- Average tenure 1вЂ“1.5 years в†’ 10 pts\n- Average tenure 6 monthsвЂ“1 year в†’ 5 pts\n- Average tenure < 6 months в†’ 0 pts\n\nTenure Bonus:\n- If candidate has 3+ years at one company в†’ +5 bonus pts (max 25 total)\n\nRed Flags (deductions):\n- 3+ job changes in last 2 years в†’ -10 pts\n- Employment gaps > 6 months (unexplained) в†’ -5 pts per gap\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n3) MUST-HAVE REQUIREMENTS (15 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Core Competencies (10 pts)\nExtract required competencies from JD:\n- Customer handling/communication в†’ 3 pts\n- Problem-solving/troubleshooting в†’ 3 pts\n- Process adherence/documentation в†’ 2 pts\n- Multitasking/time management в†’ 2 pts\n\nAward based on evidence in resume (achievements, responsibilities, metrics)\n\nB. Education (5 pts)\n- Meets requirement в†’ 5 pts\n- Related degree в†’ 3 pts\n- Compensating experience (5+ years) в†’ up to 5 pts\n- Below requirement в†’ 0 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n4) TOOLS & TECHNICAL SKILLS (15 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Required Tools/Systems (10 pts)\n- CRM tools (Salesforce, Zendesk, Freshdesk, etc.) в†’ 4 pts\n- Ticketing systems в†’ 3 pts\n- Communication platforms (Zoom, Teams, Slack) в†’ 2 pts\n- Other required tools в†’ 1 pt\n\nAward proportionally based on number of required tools candidate has used.\n\nB. Nice-to-Have Tools (5 pts)\n- Preferred/additional tools from JD в†’ award proportionally\n- Advanced tool proficiency (certifications, power user) в†’ bonus points\n\nRule:\nTool experience validates capability but does NOT replace relevant work experience.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n5) PERFORMANCE INDICATORS (10 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nA. Quantifiable Achievements (7 pts)\n- Customer satisfaction scores/CSAT improvements в†’ 3 pts\n- Ticket resolution metrics/SLA achievements в†’ 2 pts\n- Process improvements/efficiency gains в†’ 2 pts\n\nB. Awards & Recognition (3 pts)\n- Employee of the month/quarter в†’ 2 pts\n- Customer service awards в†’ 3 pts\n- Performance-based promotions в†’ 2 pts\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n6) SOFT SKILLS & CULTURAL FIT (bonus: up to 5 pts)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n- Language proficiency (if required) в†’ 2 pts\n- Team collaboration evidence в†’ 2 pts\n- Learning & adaptability indicators в†’ 1 pt\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nHIRING DECISION RULES\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n91вЂ“100 в†’ MUST_INTERVIEW\n70вЂ“90  в†’ RECOMMEND_INTERVIEW\n55вЂ“69  в†’ CONDITIONAL_INTERVIEW\n40вЂ“54  в†’ HOLD\n<40    в†’ REJECT\n\nвќ— SAFETY RULES:\n1. If relevant experience requirement is met AND job stability is strong (avg tenure в‰Ґ 1.5 years), Hiring Score MUST NOT be below 60.\n2. Frequent job hopping (avg tenure < 1 year) caps maximum score at 70, regardless of other factors.\n3. Missing required tools reduces score but does NOT disqualify if experience is strong.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nOUTPUT FORMAT (STRICT JSON ONLY)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n{\n  \"ats_score\": 0,\n  \"hiring_score\": 0,\n  \"hiring_recommendation\": \"MUST_INTERVIEW|RECOMMEND_INTERVIEW|CONDITIONAL|HOLD|REJECT\",\n  \"key_reason\": \"Max 30 words explaining the decision\",\n  \"stability_metrics\": {\n    \"average_tenure_years\": 0,\n    \"total_jobs\": 0,\n    \"longest_tenure_years\": 0,\n    \"stability_flag\": \"STABLE|MODERATE|UNSTABLE\"\n  },\n  \"experience_breakdown\": {\n    \"total_years\": 0,\n    \"relevant_role_years\": 0,\n    },\n  \"tools_identified\": [],\n}\n\nRules:\n- Evidence-based scoring only\n- Requirements document is supreme authority\n- Prioritize EXPERIENCE and STABILITY over tools\n- Do NOT add explanations outside JSON\n- Calculate stability metrics from work history timeline\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1200,
        2192
      ],
      "id": "aa5892ea-0793-43b8-870b-edbcc0d194da",
      "name": "AI Agent For Sales"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the AI text output\nconst text =\n  items[0].json.output[0].content[0].text;\n\nconst cleaned = text\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json: {resumeParsed: parsedJson} };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        2192
      ],
      "id": "5b9a5ce0-2474-4639-8888-4eba2cbfb58d",
      "name": "Code in Data Extractor of Resume Sales"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1200,
        2416
      ],
      "id": "6a411145-cf57-4179-9005-04ced16ebdae",
      "name": "OpenAI Chat Model Sales",
      "credentials": {
        "openAiApi": {
          "id": "S1K1kDUmL854DGcP",
          "name": "OpenAi account Batra Numerro AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.output;\n\n\nconst cleaned = items\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsedJson = JSON.parse(cleaned);\n\nreturn { json:  parsedJson };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        2192
      ],
      "id": "37061d33-3484-42ef-b721-027a4e68be1a",
      "name": "Code for Sales Data Exrtraction"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0",
          "mode": "list",
          "cachedResultName": "Hiring Agent Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157179987,
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit#gid=1157179987"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name ": "={{ $('Code in Data Extractor of Resume Sales').item.json.resumeParsed.name }}",
            "Role": "={{ $('Code in JavaScript').item.json.detected_role }}",
            "Resume ATS Score": "={{ $json.ats_score }}",
            "Agent Screening Score": "={{ $json.hiring_score }}",
            "Confidence Score": "={{ $('Code in JavaScript').item.json.confidence_score }}",
            "Hiring Recomandation": "={{ $json.hiring_recommendation }}",
            "Key Reason ": "={{ $json.key_reason }}",
            "Resume/ Profile link": "=",
            "Experience": "={{ $json.experience_breakdown.total_years }}",
            "Education": "=UnderGraduation: {{ JSON.stringify($('Code in Data Extractor of Resume Sales').item.json.resumeParsed.education.undergraduate) }}\nPostGraduation: {{ JSON.stringify($('Code in Data Extractor of Resume Sales').item.json.resumeParsed.education.postgraduate) }}\n",
            "Skills": "={{ ($('Code in Data Extractor of Resume Sales').item.json.resumeParsed.skills.softSkills || []).join(', ') }}\n",
            "Stability": "=Average Tenure: {{ $json.stability_metrics.average_tenure_years }},\nTotal Jobs: {{ $json.stability_metrics.total_jobs }}\n"
          },
          "matchingColumns": [
            "Sr No."
          ],
          "schema": [
            {
              "id": "Sr No.",
              "displayName": "Sr No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Name ",
              "displayName": "Candidate Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume ATS Score",
              "displayName": "Resume ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Screening Score",
              "displayName": "Agent Screening Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence Score",
              "displayName": "Confidence Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring Recomandation",
              "displayName": "Hiring Recomandation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Reason ",
              "displayName": "Key Reason ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume/ Profile link",
              "displayName": "Resume/ Profile link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stability",
              "displayName": "Stability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Most Stable Tenure",
              "displayName": "Most Stable Tenure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        2192
      ],
      "id": "f6d9ebf5-d290-45a9-acc1-95cbaf579d40",
      "name": "Append row in sheet For Sales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QBCsxB2qiIpxsde",
          "name": "TheBatraaNumerology Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0",
          "mode": "list",
          "cachedResultName": "Hiring Agent Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name ": "={{ $('Code in Data Extractor of Resume').item.json.resumeParsed.name }}",
            "Role": "={{ $('Code in JavaScript').item.json.detected_role }}",
            "Resume ATS Score": "={{ $json.ats_score }}",
            "Agent Screening Score": "={{ $json.hiring_score }}",
            "Confidence Score": "={{ $('Code in JavaScript').item.json.confidence_score }}",
            "Hiring Recomandation": "={{ $json.hiring_recommendation }}",
            "Key Reason ": "={{ $json.key_reason }}",
            "Resume/ Profile link": "=https:{{ $('Code in Data Extractor of Resume').item.json.resumeParsed.profiles.github }}, ",
            "Experience": "={{ $('Code in Data Extractor of Resume').item.json.resumeParsed.experience_years }}",
            "Education": "={{ $('Code in Data Extractor of Resume').item.json.resumeParsed.education.undergraduate }}, {{ $('Code in Data Extractor of Resume').item.json.resumeParsed.education.postgraduate }}",
            "Skills": "={{ Object.values($('Code in Data Extractor of Resume').item.json.resumeParsed.technical_skills).flat().join(', ') }}"
          },
          "matchingColumns": [
            "Sr No."
          ],
          "schema": [
            {
              "id": "Sr No.",
              "displayName": "Sr No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Name ",
              "displayName": "Candidate Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume ATS Score",
              "displayName": "Resume ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Screening Score",
              "displayName": "Agent Screening Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence Score",
              "displayName": "Confidence Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring Recomandation",
              "displayName": "Hiring Recomandation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Reason ",
              "displayName": "Key Reason ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume/ Profile link",
              "displayName": "Resume/ Profile link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        1392
      ],
      "id": "8bf1c507-c557-461e-bb6b-534c9e0fd248",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QBCsxB2qiIpxsde",
          "name": "TheBatraaNumerology Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.resumeId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3392,
        2192
      ],
      "id": "694d606e-02d7-4658-b237-05ee603ec805",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l8XpxB9z4DZIIZ0V",
          "name": "Thebatraanumerology Mail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let resumeLink = $input.first().json['Upload Resume (PDF format only)']\nlet resumeId = resumeLink.split('=')[1];\n\nreturn [\n  {\n    json: {\n      resumeId: resumeId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        2192
      ],
      "id": "a0b424e8-aba1-4e9a-b730-b91f06768109",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0",
          "mode": "list",
          "cachedResultName": "Hiring Form Responses and Agent  Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1966705018,
          "mode": "list",
          "cachedResultName": "Operations Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit#gid=1966705018"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -3888,
        2304
      ],
      "id": "0897407a-2349-44e3-beb2-8b8c8dbcee93",
      "name": "Ops Form Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "nkyzeC5J4Id9WuP9",
          "name": "TheBatraaNumerology Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0",
          "mode": "list",
          "cachedResultName": "Hiring Form Responses and Agent  Screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 316250029,
          "mode": "list",
          "cachedResultName": "RM Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b79NefrqJx7-ha9zKME9X8D_c5rhsIQYEVwZ4LdEiz0/edit#gid=316250029"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -3888,
        2080
      ],
      "id": "1df1d1be-f637-44cc-bba3-25156ca0ac81",
      "name": "Sales Form Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "nkyzeC5J4Id9WuP9",
          "name": "TheBatraaNumerology Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Profile Data Extractor fro Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ops Profile Modal For extraction ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Profile Modal For extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code for Github Data Exrtraction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Github analyser Agent": {
      "main": [
        [
          {
            "node": "Code for Github Data Exrtraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Data Extractor fro Resume": {
      "main": [
        [
          {
            "node": "Code in Data Extractor of Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Data Extractor of Resume": {
      "main": [
        [
          {
            "node": "Github analyser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Github Data Exrtraction": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Github Data Exrtraction1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ops Profile Modal For extraction ": {
      "main": [
        [
          {
            "node": "Code in Data Extractor of Resume Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Profile Modal For extraction": {
      "main": [
        [
          {
            "node": "Code in Data Extractor of Resume Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent For Ops",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent For Ops",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in Data Extractor of Resume Ops": {
      "main": [
        [
          {
            "node": "AI Agent For Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent For Ops": {
      "main": [
        [
          {
            "node": "Code for Github Data Exrtraction2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Github Data Exrtraction2": {
      "main": [
        [
          {
            "node": "Append row in sheet For Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent For Sales",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in Data Extractor of Resume Sales": {
      "main": [
        [
          {
            "node": "AI Agent For Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Sales": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent For Sales",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent For Sales": {
      "main": [
        [
          {
            "node": "Code for Sales Data Exrtraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Sales Data Exrtraction": {
      "main": [
        [
          {
            "node": "Append row in sheet For Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ops Form Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Form Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "01d72d3c-0651-4976-96c7-27ed048bd965",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fbe8f1e854a8e9e809037417b5a57fda11bd08c2ca2c1f51a7ebaef728745b9"
  },
  "id": "9p59NrDnX7kDxUPk",
  "tags": []
}